$purple:        hsl(261, 73%, 60%);
$yellow:        hsl(39, 89%, 49%);
$pink:          hsl(349, 71%, 52%);
$blue:          hsl(230, 89%, 62%);
$blue-darker:   hsl(214, 47%, 23%);
$blue-darkest:  hsl(237, 49%, 15%);
$cyan:          hsl(189, 59%, 53%);